@page "/events"

@inject HomeDatabase db;

<PageTitle>Events</PageTitle>

<h1>Events</h1>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick=Refresh>Refresh</button>
    <EventList Events="events" />
}

@code {
    private DataLogEvent[]? events;

    private string newDeviceName = "";

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    async Task Refresh()
    {
        events = await db.GetEventsAsync(100);
        StateHasChanged();
    }
}

